@import "../../Styles/Font.scss";
@import "../../Styles/MainStyles.scss";

@mixin sidebar-title-style {
  font-family: $font-bold;
  font-size: $title-text;
  color: $paragraph-text-color-title;
  margin: 30px 0 0 0;
}

@mixin sidebar-description-text-style {
  font-family: $font-normal;
  font-size: $sidebar-description;
  line-height: $sidebar-line-height;
  color: $paragraph-text-color;
}

@mixin sidebar-unselected-title-style {
  font-family: $font-normal;
  font-size: $title-text;
}

.sidebar {
  position: fixed;
  width: 290px;
  height: 100%;
  border-right: 1px solid black;
  //   margin-right: 10px;
  padding-right: 20px;
  text-align: end;
}

.sidebar-item {
  &__link {
    text-decoration: none;
  }

  &__selected {
    @include sidebar-title-style();
    // color: #000;
  }

  &__unselected {
    @include sidebar-unselected-title-style();
    color: #ababab;
    font-weight: 600;
  }

  &__description {
    @include sidebar-description-text-style();
    margin: 0 0 10px 0;
  }
}
