@import "../../Styles/Font.scss";
@import "../../Styles/MainStyles.scss";

@mixin sub-title-style {
  font-family: $font-bold;
  font-size: $title-text;
  color: $paragraph-text-color-title;
  margin: 30px 0 0 0;
}

@mixin paragraph-text-style {
  font-family: $font-normal;
  font-size: $paragraph-text;
  line-height: $line-height;
}

@mixin paragraph-text-bold-style {
  font-family: $font-bold;
  font-size: $paragraph-text;
  line-height: $line-height;
}

.modal-cursor {
  cursor: pointer;

  // Remove pointer for smaller screens
  @media (max-width: 1023px) {
    cursor: default;
  }
}

.sidebar-item {
  padding: 10px;
  cursor: pointer;
}

.sidebar-item.active {
  font-weight: bold;
  background-color: #ddd;
}

.margin {
  margin-right: 10px;
}

.margin-bottom {
  margin-bottom: 20px !important;
}

.padding {
  padding-right: 10px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $border-color;
  margin-bottom: 30px;
}

.interactive-qr-code-creative {
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__section-start {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__section-divider {
    border-top: 1px solid black;
    width: 100%;
    margin: 20px 0 10px 0;
  }

  &__text-bold {
    font-weight: 600;
  }

  &__img-text-container {
    width: 100%;
    margin-bottom: 60px;
    flex-direction: row;
    justify-content: space-between;

    &__wrapper {
      display: flex;
      flex-direction: column;

      @include tablet-desktop {
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
      }

      &__img {
        width: 100%;

        @include tablet-desktop {
          width: 50%;
        }
      }

      &__three-img {
        width: 100%;

        @include tablet-desktop {
          width: 33%;
        }
      }

      &__text {
        width: 100%;

        @include tablet-desktop {
          width: 50%;
        }
      }

      &__title {
        font-family: $font-bold;
        font-size: $title-text;
        color: $paragraph-text-color-title;
        margin: 5px 0;
      }
    }
  }

  &__paired-image {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__img {
      width: 100%;
      margin-bottom: 20px;

      @include tablet-desktop {
        width: 49%;
      }
    }

    @include tablet-desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @include desktop-view {
      max-width: 1220px;
    }
  }

  &__title {
    color: $paragraph-text-color-title;
    font-family: $titlefont-bold;
    font-size: $header-text;
  }

  &__description {
    @include paragraph-text-style();
    line-height: $line-height;
    text-align: center;
  }

  &__img {
    width: 100%;
  }

  &__list {
    text-align: center;
    padding: 20px 0 24px 0;

    &__item {
      @include paragraph-text-style();
    }
  }

  &__design-process {
    width: 100%;
    text-align: center;
    border-top: 1px solid $border-color;
    margin-bottom: 30px;

    &__title {
      @include sub-title-style();
      margin: 0 0 30px 0;
    }
  }

  &__questions {
    text-align: center;
    border-top: 1px solid $border-color;
    margin: 0 0 39px 0;

    &__title {
      // @include sub-title-style();
      @include paragraph-text-bold-style();
      margin: 0;
    }

    &__text {
      @include paragraph-text-style();
      margin: 5px 0 20px 0;
    }

    &__point-text {
      @include paragraph-text-style();
      margin: 5px 0 0 0;
    }
  }

  &__research {
    text-align: center;
    border-top: 1px solid $border-color;

    &__title {
      @include sub-title-style();
      margin: 30px 0 0 0;
    }

    &__text {
      @include paragraph-text-style();
      // margin: 5px 0 25px 0;
      margin: 0;
    }

    &__img {
      width: 100%;
      padding-top: 30px;

      @include desktop-view {
        max-width: 1220px;
      }
    }
  }

  &__lo-fi {
    text-align: center;
    border-top: 1px solid $border-color;
    margin-top: 30px;

    &__container {
      display: flex;
      flex-direction: column;

      @include desktop-view {
        display: flex;
        flex-direction: row;
      }
    }

    &__title {
      // @include sub-title-style();
      @include paragraph-text-bold-style();
      margin: 0;
    }

    &__text {
      @include paragraph-text-style();
      margin: 5px 0 20px 0;
    }
    // &__title {
    //   @include sub-title-style();
    //   margin: 30px 0 0 0;
    // }

    // &__text {
    //   @include paragraph-text-style();
    //   margin: 5px 0 25px 0;
    // }

    &__sm-img {
      width: 400px;
      padding: 24px 0;
    }

    &__img {
      width: 100%;
      padding: 24px 0;

      @include desktop-view {
        max-width: 1220px;
      }
    }
  }

  &__final {
    text-align: center;
    border-top: 1px solid $border-color;
    margin-top: 30px;

    &__container {
      display: flex;
      flex-direction: column;

      @include tablet-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
      }

      @include desktop-view {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
      }
    }

    &__title {
      // @include sub-title-style();
      @include paragraph-text-bold-style();
      margin: 0;
    }

    &__text {
      @include paragraph-text-style();
      margin: 5px 0 20px 0;
    }
    // &__title {
    //   @include sub-title-style();
    //   margin: 30px 0 0 0;
    // }

    // &__text {
    //   @include paragraph-text-style();
    //   margin: 5px 0 25px 0;
    // }

    &__text-bold {
      @include paragraph-text-bold-style();
      margin: 20px 0 5px 0;
    }

    &__img {
      width: 100%;
      padding: 24px 5px;

      @include tablet-desktop {
        max-width: 450px;
      }

      @include desktop-view {
        max-width: 1220px;
      }
    }

    &__gif {
      width: 100%;
      padding: 24px 0;

      @include desktop-view {
        max-width: 1220px;
      }
    }
  }

  &__result {
    text-align: center;
    border-top: 1px solid $border-color;
    margin-top: 30px;

    &__title {
      @include sub-title-style();
      margin: 30px 0 0 0;
    }

    &__text {
      @include paragraph-text-style();
      margin: 5px 0 25px 0;
    }

    &__img {
      width: 100%;
      padding: 24px 0;

      @include desktop-view {
        max-width: 1220px;
      }
    }
  }

  &__next-step {
    text-align: center;
    border-top: 1px solid $border-color;
    margin-top: 30px;

    &__title {
      @include sub-title-style();
      margin: 30px 0 0 0;
    }

    &__text {
      @include paragraph-text-style();
      margin: 5px 0 25px 0;
    }
  }

  @include mobile {
    margin: 20px 15px;
  }

  @include mobile-tablet {
    margin: 20px 15px;
  }

  @include tablet-view {
    margin: 20px 80px;
  }

  @include tablet-desktop {
    margin: 20px 115px;
  }

  @include desktop-view {
    margin: 20px 220px;
  }
}
