@import "../../Styles/Font.scss";
@import "../../Styles/MainStyles.scss";

@mixin sub-title-style {
  font-family: $font-bold;
  font-size: $title-text;
  color: $paragraph-text-color-title;
  margin: 30px 0 0 0;
}

@mixin paragraph-text-style {
  font-family: $font-normal;
  font-size: $paragraph-text;
  line-height: $line-height;
}

@mixin paragraph-text-bold-style {
  font-family: $font-bold;
  font-size: $paragraph-text;
  line-height: $line-height;
}

.margin-bottom {
  margin-bottom: 25px;
}

.margin-right {
  margin-right: 10px;
}

.margin-top {
  margin-top: 15px;
}

.margin-page-end {
  margin-bottom: 400px;
}

.local-pro {
  &__title {
    color: $paragraph-text-color-title;
    font-family: $titlefont-bold;
    font-size: $header-text;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
    width: 100%;
  }

  &__description {
    @include paragraph-text-style();
    line-height: $line-height;
    width: 100%;
    text-align: start;
    margin: 0;

    &__bold {
      font-weight: 600;
    }
  }

  &__hero-img {
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
  }

  &__item {
    margin: 5px 0;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  &__section-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__section-divider {
    border-top: 1px solid black;
    width: 100%;
    margin: 25px 0 0 0;
  }

  &__img-text-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include desktop-view {
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
      }

      &__img {
        width: 100%;
        align-self: flex-start;

        @include desktop-view {
          width: 50%;
          margin-top: 15px;
        }
      }
    }
  }

  &__content {
    text-align: center;
    border-top: 1px solid $border-color;
    margin: 0 0 39px 0;

    &__title {
      @include paragraph-text-bold-style();
      margin: 25px 0 0 0;
    }

    &__text {
      @include paragraph-text-style();
      margin: 0;
    }

    &__text-bold {
      @include paragraph-text-style();
      margin: 0 0 10px 0;
      font-weight: 600;
    }

    &__point-text {
      @include paragraph-text-style();
      margin: 5px 0 0 0;
    }

    &__img {
      width: 100%;
    }
  }

  @include mobile {
    margin: 20px 15px;
  }

  @include mobile-tablet {
    margin: 20px 15px;
  }

  @include tablet-view {
    margin: 20px 80px;
  }

  @include tablet-desktop {
    margin: 20px 115px;
  }

  @include desktop-view {
    margin: 20px 220px;
  }
}
